<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
         
          <div class="card-body">

          
            <h3 class="card-title text-center" style="font-weight: bold">
            <div>
              <img style="height:90px;"src="../../assets/person1.png"/>
            </div>
            </h3>
            <form class="form-signin" [formGroup]="employeeform" (ngSubmit)="onSubmit()">
           

              <div class="form-label-group">
                <input  class="form-control"  id="inputEmail" formControlName="email" placeholder="email">
                <label for="inputEmail">Email address</label>
              </div>
              <div class="validation_text" *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="email.errors.required">Email is Required</div>
                  <div *ngIf="email.errors.pattern">Text Must be in email form</div>
                 <div *ngIf="email.hasError('whitespace')">Whitespace error</div>
                  
                </div>
              
              <hr>

              <div class="form-label-group">
                <input  class="form-control" type="password"  formControlName="password" placeholder="password">
                <label for="inputPassword">Password</label>
              </div>
              <div class="validation_text"  *ngIf="password.invalid && (password.dirty || password.touched)">
                  <div *ngIf="password.errors.required">Password is Required</div>
                  <div *ngIf="password.errors.minlength">Password must be of 8 characters</div>
                   <div *ngIf="password.hasError('whitespace')">Whitespace error</div>
                  
                  
                </div>
              
               <div class="form-label-group combo_button">
                    <button class="btn btn-primary button1" type="submit"  >Submit</button>
                    <button class="btn btn-primary button2" routerLink="/Signup" routerLinkActive="active" >Sign Up</button>
                   
                </div>
                
          
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>




